In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Data_Analyst\Portfolio\Covid_19\Covid_19_updated.csv")

In [3]:
df

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.000,0.0,NaN,0.0,0.0,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.000,0.0,NaN,0.0,0.0,...,40578847.0,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535360,Zimbabwe,2025-09-24,266436.0,0.0,0.0,16580.682,0.0,0.0,5740.0,0.0,...,16069061.0,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535361,Zimbabwe,2025-09-25,266436.0,0.0,0.0,16580.682,0.0,0.0,5740.0,0.0,...,16069061.0,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535362,Zimbabwe,2025-09-26,266436.0,0.0,0.0,16580.682,0.0,0.0,5740.0,0.0,...,16069061.0,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535363,Zimbabwe,2025-09-27,266436.0,0.0,0.0,16580.682,0.0,0.0,5740.0,0.0,...,16069061.0,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535364,Zimbabwe,2025-09-28,266436.0,0.0,0.0,16580.682,0.0,0.0,5740.0,0.0,...,16069061.0,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535365 entries, 0 to 535364
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     535365 non-null  object
 1   date                                        535365 non-null  object
 2   total_cases                                 521655 non-null  float64
 3   new_cases                                   518289 non-null  float64
 4   new_cases_smoothed                          517084 non-null  float64
 5   total_cases_per_million                     521655 non-null  float64
 6   new_cases_per_million                       518289 non-null  float64
 7   new_cases_smoothed_per_million              517084 non-null  float64
 8   total_deaths                                521655 non-null  float64
 9   new_deaths                                  519181 non-null  float64
 10  new_deaths_smoothed                         517969 non-null  float64
 11  total_deaths_per_million                    521655 non-null  float64
 12  new_deaths_per_million                      519181 non-null  float64
 13  new_deaths_smoothed_per_million             517969 non-null  float64
 14  excess_mortality                            13737 non-null   float64
 15  excess_mortality_cumulative                 13737 non-null   float64
 16  excess_mortality_cumulative_absolute        13737 non-null   float64
 17  excess_mortality_cumulative_per_million     13703 non-null   float64
 18  hosp_patients                               40656 non-null   float64
 19  hosp_patients_per_million                   40656 non-null   float64
 20  weekly_hosp_admissions                      24497 non-null   float64
 21  weekly_hosp_admissions_per_million          24497 non-null   float64
 22  icu_patients                                39116 non-null   float64
 23  icu_patients_per_million                    39116 non-null   float64
 24  weekly_icu_admissions                       10993 non-null   float64
 25  weekly_icu_admissions_per_million           10993 non-null   float64
 26  stringency_index                            202760 non-null  float64
 27  reproduction_rate                           185683 non-null  float64
 28  total_tests                                 79387 non-null   float64
 29  new_tests                                   75403 non-null   float64
 30  total_tests_per_thousand                    79387 non-null   float64
 31  new_tests_per_thousand                      75403 non-null   float64
 32  new_tests_smoothed                          103965 non-null  float64
 33  new_tests_smoothed_per_thousand             103965 non-null  float64
 34  positive_rate                               101560 non-null  float64
 35  tests_per_case                              100645 non-null  float64
 36  total_vaccinations                          83222 non-null   float64
 37  people_vaccinated                           79011 non-null   float64
 38  people_fully_vaccinated                     77011 non-null   float64
 39  total_boosters                              58784 non-null   float64
 40  new_vaccinations                            68876 non-null   float64
 41  new_vaccinations_smoothed                   202840 non-null  float64
 42  total_vaccinations_per_hundred              83222 non-null   float64
 43  people_vaccinated_per_hundred               79011 non-null   float64
 44  people_fully_vaccinated_per_hundred         77011 non-null   float64
 45  total_boosters_per_hundred                  58784 non-null   float64
 46  new_vaccinations_smoothed_per_million       202840 non-null  float64
 47  new_people_vaccinated_smoothed              202840 non-null  float64
 48  new_people_vaccinated_smoothed_per_hundred  202840 non-null  float64
 49  code                                        511949 non-null  object
 50  continent                                   495189 non-null  object
 51  population                                  518162 non-null  float64
 52  population_density                          509775 non-null  float64
 53  median_age                                  511877 non-null  float64
 54  life_expectancy                             513972 non-null  float64
 55  gdp_per_capita                              418146 non-null  float64
 56  extreme_poverty                             343164 non-null  float64
 57  diabetes_prevalence                         451723 non-null  float64
 58  handwashing_facilities                      242579 non-null  float64
 59  hospital_beds_per_thousand                  323856 non-null  float64
 60  human_development_index                     0 non-null       float64
dtypes: float64(57), object(4)
memory usage: 249.2+ MB

In [5]:
headers = df.columns.tolist()
headers

['country',
 'date',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'excess_mortality',
 'excess_mortality_cumulative',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'icu_patients',
 'icu_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'stringency_index',
 'reproduction_rate',
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'code',
 'continent',
 'population',
 'population_density',
 'median_age',
 'life_expectancy',
 'gdp_per_capita',
 'extreme_poverty',
 'diabetes_prevalence',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'human_development_index']

In [6]:
Death_df = df[[
 'code',
 'continent',
 'country',
 'date',
 'population',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'excess_mortality',
 'excess_mortality_cumulative',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'icu_patients',
 'icu_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'stringency_index',
 'reproduction_rate']]
Death_df

,code,continent,country,date,population,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,...,hosp_patients,hosp_patients_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,icu_patients,icu_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,stringency_index,reproduction_rate
0,AFG,Asia,Afghanistan,2020-01-01,40578847.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,AFG,Asia,Afghanistan,2020-01-02,40578847.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,AFG,Asia,Afghanistan,2020-01-03,40578847.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,AFG,Asia,Afghanistan,2020-01-04,40578847.0,0.0,0.0,NaN,0.000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,AFG,Asia,Afghanistan,2020-01-05,40578847.0,0.0,0.0,NaN,0.000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535360,ZWE,Africa,Zimbabwe,2025-09-24,16069061.0,266436.0,0.0,0.0,16580.682,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535361,ZWE,Africa,Zimbabwe,2025-09-25,16069061.0,266436.0,0.0,0.0,16580.682,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535362,ZWE,Africa,Zimbabwe,2025-09-26,16069061.0,266436.0,0.0,0.0,16580.682,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535363,ZWE,Africa,Zimbabwe,2025-09-27,16069061.0,266436.0,0.0,0.0,16580.682,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535364,ZWE,Africa,Zimbabwe,2025-09-28,16069061.0,266436.0,0.0,0.0,16580.682,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'population_density',
 'median_age',
 'life_expectancy',
 'gdp_per_capita',
 'extreme_poverty',
 'diabetes_prevalence',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'human_development_index'

'human_development_index'

In [10]:
CovidVac = df[[
 'code',
 'continent',
 'country',
 'date',
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'population_density',
 'median_age',
 'life_expectancy',
 'gdp_per_capita',
 'extreme_poverty',
 'diabetes_prevalence',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'human_development_index'
]]
CovidVac

,code,continent,country,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,new_people_vaccinated_smoothed_per_hundred,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,AFG,Asia,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,AFG,Asia,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,AFG,Asia,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,AFG,Asia,Afghanistan,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,AFG,Asia,Afghanistan,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.215549,16.752001,65.616997,1516.273315,NaN,10.9,48.214695,0.39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535360,ZWE,Africa,Zimbabwe,2025-09-24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535361,ZWE,Africa,Zimbabwe,2025-09-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535362,ZWE,Africa,Zimbabwe,2025-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535363,ZWE,Africa,Zimbabwe,2025-09-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN
535364,ZWE,Africa,Zimbabwe,2025-09-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.538223,17.683001,62.360100,2207.957031,49.219894,2.1,42.456093,1.70,NaN

In [11]:
Death_df.to_csv("C:\Data_Analyst\Portfolio\Covid_19\Death19.csv", sep="|", index=False,)

In [12]:
CovidVac.to_csv("C:\Data_Analyst\Portfolio\Covid_19\Vaccinations19.csv", sep="|",  index = False)

In [23]:
pd.Series(Death_df.columns).to_clipboard(index=False)

In [17]:
pd.Series(CovidVac.columns).to_clipboard(index=False)